.header {
    width: 100%;
    padding: 13px 0 8px;

    position: absolute;
    z-index: 9999;

    background: rgba(255, 255, 255, 0.51);
    box-shadow: 0 4px 10px 0 rgba(46, 59, 65, 0.05);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            display: flex;
            gap: 25px;

            .menu_link {
                font-weight: 400;
                font-size: 16px;
                color: rgba(0, 0, 0, 1);
            }
        }

        .tel {
            display: flex;
            gap: 10px;
            align-items: center;

            font-weight: 700;
            color: rgba(29, 112, 124, 1);

            .icon {
                font-size: 20px;
            }
            .text {
                font-size: 16px;
                text-decoration: underline;
            }
        }
    }
}