.header {
    width: 100%;

    position: absolute;
    z-index: 9999;

    background: rgba(255, 255, 255, 0.51);
    box-shadow: 0 4px 10px 0 rgba(46, 59, 65, 0.05);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}