.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 6px;
  margin-bottom: 50px;
  @media (max-width: 900px) {
    margin-bottom: 25px;
    justify-content: center;
  }
  button {
    max-width: 187px;
    width: 100%;
    padding: 11px 5px;

    border-radius: 10px;
    background: rgba(236, 241, 242, 1);

    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    text-align: center;

    transition: all 0.3s ease-in;
    .mobile_span {
      display: none;
    }

    @media (max-width: 900px) {
      border-radius: 5px;
      padding: 0px 0px;
      width: 31%;
      font-size: 12px;
      height: 29px;
      .mobile_span {
        display: block;
      }
      span {
        display: none;
      }
    }
    &:hover,
    &:focus,
    &:checked {
      background: rgba(29, 112, 124, 0.5);
      @media (max-width: 900px) {
        background: #55888f;
      }
      color: #fff;
    }

    &.active {
      background: rgba(29, 112, 124, 1);

      color: #fff;
      @media (max-width: 900px) {
        background: #55888f;
      }
    }
  }
}

.items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  @media (max-width: 900px) {
    flex-direction: column;
    margin-left: 21px;
    margin-right: 5px;
  }
  
  
  .item {
    max-width: 250px;
    width: 100%;
    padding: 12px 10px 10px;
    background: rgba(236, 241, 242, 1);
    border-radius: 5px;
    text-align: center;
    @media (max-width: 900px) {
      border-radius: 10px;
      max-width: 100%;
    }
    
    .content {
      display: flex;
      flex-direction: column;
      aspect-ratio: 229 / 288;
      gap: 3px;
      margin-bottom: 32px;
      background: rgba(255, 255, 255, 1);
      border-radius: 5px;
      overflow: hidden;
      @media (max-width: 900px) {
       
        gap: 3px;
        margin-bottom: 18px;
        aspect-ratio: unset;
        height: auto;
        
      }
      
      
      img {
        aspect-ratio: 229 / 238;
        border-radius: 5px;
        @media (max-width: 900px) {
          aspect-ratio: 7 / 3;
          width: 100%;
          height: auto;
          border-radius: 12px;
        }
      }
      
      div {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        @media (max-width: 900px) {
          margin-top: 3px;
          margin-bottom: 6px;
          font-size: 14px; 
        }
      }


    }

    .price {
      margin-bottom: 4px;
      font-weight: 500;
      font-size: 18px;
      color: rgba(110, 110, 110, 1);
      @media (max-width: 900px) {
        color: #58b4bf;
        margin-bottom: 6px;
        font-size: 14px;
      }
    }

    .link {
      display: block;
      max-width: 211px;
      width: 100%;
      padding: 11px 5px;
      background: rgba(84, 192, 192, 1);
      border-radius: 20px;
      font-weight: 400;
      font-size: 14px;
      color: rgba(255, 255, 255, 1);
      transition: all 0.3s ease-in;
      @media (max-width: 900px) {
        margin: 0 auto;
      }

      &:hover,
      &:focus {
        background: rgba(84, 192, 192, 0.7);
      }
      
    }
  }
}
