.block {
  max-width: 250px;
  min-width: 169.5px;
  width: 100%;
  padding: 31px 26px;

  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(46, 59, 65, 0.05);

  color: rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 100%;
  @media(max-width:900px){
    max-width: 270px;
  }
  .title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
  }

  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
  @media (max-width: 900px) {
    max-width: none;
    min-width: 0;
    width: 100%;
    
    padding: 20px 0px;

    .title {
      font-size: 12px;
    }

    .text {
      font-size: 12px;
    }
  }

}
